**Jenny Cao, jsc2287**

### Data Tasks and Types
### Instructions

**Directions**  
Write a python script that contains your code and solutions for each task below. Clearly show relevant work.

**TOTAL POINTS: 10**

---  

**Questions 1-3 use Table 1.**

**Table 1**  

|name |grade  |
--- | --- |
|Jon|95|
|Mike|84|
|Jaime|99|

1. (1 PT) Given the Table 1 data, create a dictionary called gradebook where the keys contain the names, and the values contain the associated grades. Print the dictionary.

2. (1 PT) Index into gradebook to print Mike's grade. Do NOT use the get() method for this.

3. (1 PT) Attempt to index into gradebook to print Jeff's grade. Show the result. Do NOT use the get() method for this.

In [4]:
#1
gradebook = {'Jon':95,'Mike':84, 'Jaime':99}
print(gradebook)

{'Jon': 95, 'Mike': 84, 'Jaime': 99}

In [5]:
#2
mike_grade = gradebook['Mike']
print(mike_grade)

84

In [6]:
#3
jeff_grade = gradebook['Jeff']
print(jeff_grade)

KeyError: 'Jeff'

**Questions 4-7c use Table 2.**

**Table 2**

|name |touchdowns  |
--- | --- |
|Alex|2|
|Patrick|4|
|Tom|1|
|Joe|3|
|Alex|1|

4. (1 PT) Build a list from the names in Table 2 and print it.

5. (1 PT) Sort the list in ascending order and print it. You can find an appropriate function by typing a dot (.) after the object and using tab completion.

6. (1 PT) Build a set from the names in Table 2 and print it.

7a. (1 PT) Build a list from the touchdowns, calling it *td*, and print it.

In [12]:
#4
names_list = ['Alex','Patrick','Tom','Joe','Alex'] 
print(names_list)

['Alex', 'Patrick', 'Tom', 'Joe', 'Alex']

In [13]:
#5
names_list.sort()
names_list

['Alex', 'Alex', 'Joe', 'Patrick', 'Tom']

In [14]:
#6
names_set = {'Alex','Patrick','Tom','Joe','Alex'}
print(names_set)

{'Joe', 'Patrick', 'Tom', 'Alex'}

In [16]:
#7a
td = [2,4,1,3,1]
print(td)

[2, 4, 1, 3, 1]

Parts 7b, 7c can be most easily accomplished with a list comprehension, so please apply them for this questions.  
We will discuss these further later, but for now, please read this brief article about them:

https://www.w3schools.com/python/python_lists_comprehension.asp

7b. (2 PTS) Use the modulo operator (%) to store in a list only the odd values from td. Print this new list.

7c. (1 PTS) Store in a list only the values from td which are greater than 1. Print this new list.

In [19]:
#7b
td_odd = [odd for odd in td if odd%2==1]
print(td_odd)

[1, 3, 1]

In [20]:
td_new = [new for new in td if new>1]
print(td_new)

[2, 4, 3]

**SUBMISSION INSTRUCTIONS**  

Save your python file and submit it through Canvas. The file should have .py or ipynb extension. Be sure all answers are clearly shown.
Ensure to include your name and TC UNI ID.