In [1]:
import sqlite3

2. Creating dataset

In [3]:
emotions = ['grief','overstimulated','emptiness','stress','lonely']
frequency = [4,7,3,5,3]
intensity = [10.0,6,4,8.5,5.34]
dataset = list(zip(emotions,frequency,intensity))

In [10]:
dataset

[('grief', 4, 10.0),
 ('overstimulated', 7, 6),
 ('emptiness', 3, 4),
 ('stress', 5, 8.5),
 ('lonely', 3, 5.34)]

3. Create table

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [11]:
path_to_db = "/Users/jeffe/sqlite/mydata.db"

In [12]:
# create db connection
conn = sqlite3.connect(path_to_db)

OperationalError: unable to open database file